* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --grey-font-color: #717171;
    --black-color: #222222;
    --red-scroll: rgb(232, 25, 72);
}

.flex {
    display: flex;
}

.light-text {
    color: var(--grey-font-color);
}

.bold {
    font-weight: 600;
}

/* HEADER */

.header {
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
    padding: 1rem 1.5rem 0rem 1.5rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}

.header-top {
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.searchbar {
    gap: 1rem;
    flex: 8;
    border-radius: 50px;
    padding: 0.75rem 1.25rem;
    align-items: center;
    border: 1px solid #eeeeee;
    box-shadow: 0px 2px 5px rgb(222, 222, 222);
}

#search-icon {
    width: 20px;
}

#searchbox-heading {
    color: var(--black-color);
    font-weight: 600;
}

#searchbox-subheading {
    color: var(--grey-font-color);
    font-size: 0.8rem;
}

.filter-icon {
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(145, 144, 144);
    border-radius: 200px;
}

.nav-options {
    overflow: auto;
    white-space: nowrap;
    display: flex;
}

.nav-options::-webkit-scrollbar {
    display: none;
}

.cat-icon {
    width: 24px;
    height: auto;
    opacity: 0.5;
    
}

.option {
    margin-top: 0.5rem;
    min-width: 25%;
    display: grid;
    gap: 0.25rem;
    justify-items: center;
    padding-bottom: 0.5rem;
    align-items: center;
    border-bottom: 2px transparent solid;
}

.option:hover {
    border-bottom: 2px solid black;
}

.option:hover img {
    opacity: 1;
    scale: 1.1;
}

.option p {
    font-size: 0.7rem;
    color: var(--grey-font-color);
    font-weight: 600;
}

/* ARTICLES */
.article-container {
    padding: 1.5rem;
    display: grid;
    gap: 3rem;
}

.article {
    display: grid;
    gap: 0.75rem;
}

.article-image-container {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.bg-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#heart-icon {
    width: 27px;
    position: absolute;
    right: 13px;
    top: 13px;
}

.elipses {
    position: absolute;
    left: 40%;
    bottom: 8px;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.dot,
.smaller-dot,
.smallest-dot {
    height: 7px;
    width: 7px;
    background-color: rgb(172, 171, 171);
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
}

.first-dot {
    background-color:rgb(244, 244, 244);
}

.smaller-dot {
    width: 5px;
    height: 5px;
}

.smallest-dot {
    width: 4px;
    height: 4px;
}

.article-info {
    display: grid;
    gap: .2rem;
}

.info {
    display: grid;
    gap: .1rem;
}

.info p {
    font-size: 0.95rem;
}

.location {
    justify-content: space-between;
}

.review {
    gap: 0.1rem;
    align-items: center;
}

.review p {
    margin-top: .1rem;
}

#star-icon {
    width: 16px;
}

.price {
    gap: 0.25rem;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.selected-row {
    grid-row: 3;
    margin-top: 0.3rem;
}

/* FOOTER STICKY*/
.footer-sticky {
    position: sticky;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid rgb(238, 236, 236);
    padding: .6rem;
    background-color: white;
}

.footer-sticky-options {
    justify-content: center;
    align-items: center;
    gap: 2.5rem; 
 }
 
 .footer-sticky-option {
     display: grid;
     justify-items: center;
     gap: 0.4rem;
 }
 
 .footer-sticky-option p {
     color: var(--grey-font-color);
     font-size: 0.7rem;
 }
  
 .footer-sticky-option img {
     width: 27px;
 }